<header class="header">
  <div class="header-content">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 982 239" fill="none" class="angular-logo">
      <g clip-path="url(#a)">
        <path fill="url(#b)" d="M222.077 39.192l-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z"/>
      </g>
      <defs>
        <linearGradient id="b" x1="0" x2="982" y1="192" y2="192" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F0060B"/>
          <stop offset="0" stop-color="#F0070C"/>
          <stop offset=".526" stop-color="#CC26D5"/>
          <stop offset="1" stop-color="#7702FF"/>
        </linearGradient>
        <clipPath id="a"><path fill="#fff" d="M0 0h982v239H0z"/></clipPath>
      </defs>
    </svg>

    <nav class="nav-links">
      <a routerLink="/books" routerLinkActive="active" class="nav-link">Books</a>
      <a routerLink="/authors" routerLinkActive="active" class="nav-link">Authors</a>
      <a routerLink="/subjects" routerLinkActive="active" class="nav-link">Subjects</a>
    </nav>
  </div>
</header>

<router-outlet />
